

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-image: url("../obrazky/posibl\ hedr\ 2.1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom-style:solid;
    border-color: #5c7e59;
    border-width: 8px;
  }
  
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 50px;
  }

  .bush1 {
    background-image: url("../obrazky/snad.jpg") ;
  }
  
  .bush2{
    background-image: url("../obrazky/snad 2.jpg") ;
  }
  

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  article {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  .topnav {
    background-color: rgb(43, 75, 40);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #5c7e59;
    color: white;
  }

  .main {
    padding: 16px;
  }

  .ourteam{
    background: silver;
    padding: 1em;
    text-align: center;
  }

  .obliceje {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .oblicej, .overlay{
    width: 300px;
    height: auto;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #5c7e59;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .imgtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container {
    position: relative;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 800px) {
    .break {
     flex-basis: 100%;
     height: 30px;
    }
  }